[Desktop Entry]
Type=Application
Name=Video Manager
Comment=Download, convert and edit video and audio, and adjust metadata
Comment[pt_BR]=Baixe, converta e edite vídeo e áudio, e ajuste metadados
Exec=VideoManager
Icon=videomanager
Terminal=false
Categories=AudioVideo;Video;
Keywords=video;audio;download;convert;editor;metadata;tags;yt-dlp;ffmpeg;
Keywords[pt_BR]=vídeo;áudio;download;converter;editor;metadados;tags;yt-dlp;ffmpeg;
StartupWMClass=VideoManager
